duckdb==1.5.0
polars
pandas
numpy<2.2
geopandas
pyogrio
shapely
pyproj
scikit-learn
scipy
statsmodels
requests
python-dotenv
pydantic
ydata-profiling
leafmap
matplotlib
seaborn
ipykernel==7.2.0
pyarrow
